<footer class="bg-dark text-light text-center py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="{{ '/assets/images/IRSPEEDY-S.webp' | relative_url }}" alt="لوگو" width="105" height="108">
      </div>
      <div class="col-md-4">
        <p>ما بر این عقیده هستیم که شهرت به تنهایی کافی نیست بلکه ارائه خدمات با کیفیت و پشتیبانی کامل از محصولاتمان
          میتواند رضایت شما را جلب کند و این مهمترین فاکتور در مجموعه آی‌آراسپیدی است.</p>
      </div>
      <div class="col-md-6">
        <div class="social">
          <a class="btn btn-light" href="https://t.me/irspeedy_admin" title="پشتیبانی تلگرام" aria-label="پشتیبانی تلگرام">
            <span class="far  fa-headset"></span> <span>پشتیبانی تلگرام</span> </a>
          <a class="btn btn-light"  href="https://t.me/vpnirspeedy" title="کانال تلگرام" aria-label="کانال تلگرام">
            <span class="fab fa-telegram"></span> <span>کانال تلگرام</span> </a>
        </div>
      </div>
    </div>
  </div>
</footer>